.featured
{
    width: 100%;
    max-width: 1024px;
    display:flex;
    justify-content: space-between;
    gap: 30px;
    z-index: 1;
}
.featuredItem
{
    position: relative;
    color:white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
}
.featuredImg
{
    width: 100%;
    object-fit: cover;
    height:300px;
    filter: brightness(50%);
}
.featuredTitles
{
    position: absolute;
    bottom:10px;
    color:rgb(244, 244, 239);
    left: 10px;
    font-weight: 50px;
    font-size: 15px;
    font-style: oblique;
}