.featured {
    width: 100%;
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    z-index: 1;
  }
  
  .featuredItem {
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
  }
  
  .featuredImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
  }
  
  .featuredTitles {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: rgb(244, 244, 239);
    font-size: 15px;
    font-style: oblique;
  }
  